root = "."
tmp_dir = "tmp"

[build]
cmd = "go build -o ./tmp/main ."
bin = "./tmp/main"
include_ext = ["go", "html", "css", "js"]
exclude_dir = ["tmp", "dist"]
delay = 1000

[log]
time = false

[misc]
clean_on_exit = true
